/* --- hyperlinks --- */
/* --- charcoal grey for heads; blue for body text --- */
#main .post h2 a,
#wrapper #main .post-content .fusion-title h2, 
#wrapper #main .post-content .title h2, #wrapper .fusion-title h2, 
#wrapper .post-content h2, #wrapper .title h2 {
    color: #515151;
}

#main .post h2 a:hover {
    color: #666666;
    text-decoration: none;
}

/* --- About page - Reading Boxes should be same as h4 in Team section --- */
#main .reading-box h2 {
    color: #932C9B;
    font-size: 18px;
}

p a {
    color: #67aed0;
    text-decoration: underline
}

p a:hover {
    color: #80bd5e;
    text-decoration: underline
}

.fusion-main-menu ul a, .fusion-main-menu ul a:hover,
.fusion-blog-shortcode .fusion-read-more {
    text-decoration: none;
}


/* --- Welcome slider - move up on page a little bit --- */

.home #main {
    padding-top: 0;
    margin-top: -20px;
}

.fusion-section-separator {
  margin-bottom: 40px;
}

.width-100 .fullwidth-box, .width-100 .fusion-section-separator {
    margin: 20px -30px;
}

.fusion-header-tagline {
    font-size: 18px;
    color: #943a80;
}

/* --- Footer Widget 3 - Email Us - modify in media queries also --- */
#text-8 {width: 200%;}

.fusion-widget-area h3 {
    color: #e181cc;
}

/* --- images
img {
border: 1px solid #333;
}
--- */

.flexslider .slides img {
border: 1px solid #ebeaea;
}

.fusion-logo img, .noborder img,
.noborder {
    border: 0px solid #ebeaea;
}

/* --- About page - Team sections --- */
.fusion-person .person-desc .person-author .person-title {font-size: 15px;}
.fusion-person .person-desc .person-author .person-author-wrapper {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    min-width: 75%;
}
.fusion-person .person-desc .person-author .fusion-social-networks {
    max-width: 24%;
}

/* --- About page - Reading Boxes should be same as h4 in Team section --- */
#main .reading-box h2 {
    color: #725994;
    font-size: 18px;
}

/* --- h1 and h2 were buggy and setting bold instead of normal --- */
h1, h2 {font-weight: 600;}

/* --- blockquotes in sidebars don't need left-right margin space --- */
.textwidget blockquote {
    margin-left: 0;    margin-right: 0;
}

.wp-caption-text {
    font-size: 14px;
    line-height: 20px;
}

.fusion-title-size-two .top {
    margin-top: 0;
}

/* --- resources pages --- */
.fusion-post-content .subgroup h5, .fusion-title .subgroup h5, 
.post-content .subgroup h5, .title .subgroup h5,
.post-content .subgroup h4 {
    color: #555555;
}

#media_gallery-2 #gallery-1 img {
    border: 0 solid #cfcfcf;
}

/* --- Legislation Map --- */
#usmap2015 {text-align: center;} /*--- hide on mobile ---*/
#maplist2015 {display: none;} /*--- show on mobile ---*/
.maplist2015green {color: #80bd5e;}
.maplist2015grey {color: #999999;}

/*
Media Queries
----------------------------------------------*/

/* Desktops, laptops and iPads (landscape)
--------------------------------------------- */

@media only screen and (max-width: 1140px) {

	
  

}




/* iPads (landscape)
--------------------------------------------- */

@media only screen and (max-width: 1024px) {

.fusion-main-menu > ul > li {
    padding-right: 40px;
}

}


/* ASK custom setting for breaking point --------------------------------------------- */

@media only screen and (max-width: 868px) {

/*--- Footer Widget 3 - Email Us ---*/
#text-8 {width: 100%;}



}


/* iPhones (portrait and landscape) --------------------------------------------- */

@media only screen and (max-width: 768px) {

  
  


}


/* Kindle Fire & Tablets
--------------------------------------------- */

@media only screen and (max-width: 603px) {

	


}



/* Kindle
--------------------------------------------- */
@media only screen and (max-width: 533px) {

#usmap2015 { display: none;  }
#maplist2015 { display: block; }
	
}


/* iPhones (portrait)
--------------------------------------------- */

@media only screen and (max-width: 375px) {


  
  }


/* Small Phones (portrait)
--------------------------------------------- */

@media only screen and (max-width: 240px) {
  


	
}